@model NerdNight.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            Session Preferrences
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.DefaultAvailabilityRange): @Html.DisplayFor(model => model.DefaultAvailabilityRange) @Html.DisplayFor(model => model.AvailabilityUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campaigns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Campaigns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Players);
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
